header
	{
		border-bottom: 5px solid hsla(0,0%,90%,1);
	}

footer a:hover
	{
		border-bottom: 1px solid hsla(0,0%,0%,1);
	}

#f-wrapper
	{
		border-bottom: 5px solid hsla(0,0%,20%,1);
	}

#create article .right p a:hover
	{
		border-bottom: 1px solid hsla(0,0%,0%,1);
	}