@import 'reset.css';
html {
  font-size: 62.5%;
}
body, header, footer {
  display: grid;
  gap: 2rem;
}
body {
  background: hsl(0 0% 98%);
  color: hsl(0 0% 60%);
  font: 1.4rem/1.5 "Helvetica Neue", Arial, sans-serif;
  grid: repeat(3, max-content) / minmax(auto, 75rem);
  justify-content: center;
  margin: 2rem;
  text-transform: lowercase;
}
header, main {
  background: hsl(0 0% 100%);
  padding: 3rem;
}
header, footer {
  justify-items: center;
}
nav ul {
  list-style: none;
  margin-left: 0;
}
nav li {
  display: inline-block;
  margin: 0 1rem;
}
h1 {
  color: hsl(0 0% 30%);
  font-weight: bold;
}
a {
  color: hsl(200 50% 60%);
  text-decoration: none;
}
iframe {
  display: block;
}
