body
	{
		background: hsla(0,0%,95%,1);
		color: hsla(0,0%,15%,1);
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 16px;
		font-weight: 200;
		margin: 0;
		padding: 0;
	}

a
	{
		text-decoration: none;
	}

aside
	{
		float: right;
	}

footer
	{
		clear: both;
		padding: 25px 25px 35px 25px;
		text-align: center;
	}

header
	{
		background: hsla(0,0%,95%,1);
		height: 100px;
	}

h1, h2, h3, h4
	{
		font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 700;
		margin: 15px 0;
		outline: 0;
	}

h1
	{
		font-size: 32px;
		line-height: 39px;
	}

h2
	{
		font-size: 24px;
		line-height: 29px;
	}

h3
	{
		font-size: 18px;
		line-height: 23px;
	}

h4
	{
		font-size: 16px;
		line-height: 19px;
	}

iframe
	{
		border: none;
	}

img
	{
		border: none;
	}

small
	{
		font-size: 13px;
	}

ul
	{
		margin: 0;
	}

#header
	{
		margin: 0 auto;
		width: 900px;
	}

#header img
	{
		margin: 12px 0 0 0;
	}

#tagline
	{
		height: 100px;
		line-height: 100px;
	}

#tagline a
	{
		font-size: 40px;
	}

#f-wrapper
	{
		height: 250px;
	}

#feature
	{
		color: hsla(0,0%,95%,1);
		margin: 0 auto;
		width: 900px;
	}

#feature section
	{
		float: left;
		width: 630px;
	}

#feature ul
	{
		list-style: none;
	}

#feature ul li a
	{
		color: hsla(0,0%,100%,1);
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0 10px 0 60px;
	}

#twitter
	{
		background: hsla(0,0%,15%,1) url(../images/twitter.png) no-repeat;
	}

#tumblr
	{
		background: hsla(0,0%,15%,1) url(../images/tumblr.png) no-repeat;
	}

#flickr
	{
		background: hsla(0,0%,15%,1) url(../images/flickr.png) no-repeat;
	}

#vimeo
	{
		background: hsla(0,0%,15%,1) url(../images/vimeo.png) no-repeat;
	}

#youtube
	{
		background: hsla(0,0%,15%,1) url(../images/youtube.png) no-repeat;
	}

#twitter:hover
	{
		background: hsla(0,0%,30%,1) url(../images/twitter.png) no-repeat;
	}

#tumblr:hover
	{
		background: hsla(0,0%,30%,1) url(../images/tumblr.png) no-repeat;
	}

#flickr:hover
	{
		background: hsla(0,0%,30%,1) url(../images/flickr.png) no-repeat;
	}

#vimeo:hover
	{
		background: hsla(0,0%,30%,1) url(../images/vimeo.png) no-repeat;
	}

#youtube:hover
	{
		background: hsla(0,0%,30%,1) url(../images/youtube.png) no-repeat;
	}

#c-wrapper
	{
		background: hsla(0,0%,95%,1);
	}

#content
	{
		clear: both;
		margin: 0 auto;
		width: 900px;
	}

.greybg
	{
		background: hsla(0,0%,25%,1);
	}

.redtxt
	{
		color: hsla(0,50%,50%,1);
	}

.redbg
	{
		background: hsla(0,50%,50%,1);
	}

.bluetxt
	{
		color: hsla(200,50%,50%,1);
	}

.bluebg
	{
		background: hsla(200,50%,50%,1);
	}

.greentxt
	{
		color: hsla(125,50%,50%,1);
	}

.greenbg
	{
		background: hsla(125,50%,50%,1);
	}

.yellowtxt
	{
		color: hsla(50,50%,50%,1);
	}

.yellowbg
	{
		background: hsla(50,50%,50%,1);
	}

.left
	{
		float: left;
	}

.right
	{
		float: right;
	}

.in-right
	{
		float: right;
	}

/*Home Page*/
#home article
	{
		margin: 0 0 5px 0;
	}

/*Artists Page*/
#artists-l
	{
		float: left;
		width: 450px;
	}

#artists-r
	{
		width: 450px;
	}

#artists-l article, #artists-r article
	{
		background: hsla(0,0%,100%,1);
		height: 250px;
	}

#artists-l article .left section, #artists-r article .left section
	{
		clear: left;
		height: 50px;
	}

#artists-l article img, #artists-r article img
	{
		display: block;
	}

#artists-l article section img, #artists-r article section img
	{
		float: left;
	}

#artists-l article
	{
		margin: 0 5px 10px 0;
	}

#artists-r article
	{
		margin: 0 0 10px 5px;
	}

.desc
	{
		padding: 0 20px 0 0;
		width: 205px;
	}

/*Create Page*/
#create article .right p a, #create article .right p a:visited, #create article .right p a:active, #create article .right p a:hover
	{
		color: hsla(0,0%,0%,1);
	}

#create article
	{
		background: hsla(0,0%,100%,1);
		height: 250px;
		margin: 0 0 10px 0;
	}

#create article .left img
	{
		float: left;
	}

#create article .left section
	{
		background: hsla(200,50%,25%,1);
		clear: left;
		color: hsla(0,0%,95%,1);
		font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 24px;
		font-weight: 700;
		height: 50px;
		line-height: 50px;
		text-align: center;
		width: 200px;
	}

#create article .left section:hover
	{
		background: hsla(200,50%,40%,1);
	}

#create article .left section h2
	{
		margin: 0;
	}

#create article .right
	{
		padding: 0 20px 0 20px;
		width: 310px;
	}

#create article .in-right
	{
		padding: 0 20px 0 20px;
		width: 310px;
	}

/*Charity Page*/
#charity article
	{
		background: hsla(0,0%,100%,1);
		height: 250px;
		margin: 0 0 10px 0;
	}

#charity article .right article
	{
		height: 175px;
		padding: 0 20px 0 20px;
		width: 400px;
	}

#charity article .right section
	{
		background: hsla(50,50%,25%,1);
		color: hsla(0,0%,100%,1);
		font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 24px;
		font-weight: 700;
		height: 50px;
		line-height: 50px;
		width: 450px;
	}

#charity article .right section span
	{
		float: left;
		margin: 0 20px;
	}

#charity article .right section img
	{
		float: left;
	}

#charity article .right a section:hover
	{
		background: hsla(50,50%,40%,1);
	}