html {
  font-size: 62.5%;
}
body {
  background: hsl(0,0%,100%);
  color: hsl(0,0%,0%);
  font-family: Garamond, Baskerville, Times, serif;
  text-transform: lowercase;
}
section {
  margin: 0 auto;
  max-width: 700px;
  padding: 3.0rem;
}
h1, h2, p, ol {
  margin: 3.0rem 0;
}
h2, a {
  color: hsl(0,0%,50%);
}
h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
h1 {
  font-size: 8.0rem;
  line-height: 10.0rem;
}
h2 {
  font-size: 6.0rem;
  line-height: 8.0rem;
}
p, ol {
  font-size: 3.0rem;
  line-height: 5.0rem;
}
ol {
  list-style: decimal inside;
  margin-left: 4.0rem;
}
a {
  text-decoration: none;
}